.movie-card{
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;

}
/* opacity 투명도:0 이어서 글씨가 보이지 않는다.*/

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    position: relative;
    bottom: 0px;
}

.overlay:hover{
    opacity: 1;
}

.movie-card:hover{
    transform: scale(1.1) translatez(20px);
    z-index: 2;
}

.movie-card-text{
    position: fixed;
    bottom: 0px;
}

.overlay h1 {
    width: 100%;
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }
  