.pagination {
    display: flex;               
    justify-content: center;     
    list-style: none;            
    padding: 0;
    margin: 3rem 1rem;
  }

.movie-list {
  justify-content: center;
  justify-items: center;
  text-align:center;
  
}